{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>User List</title>
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
	</head>
	<body>
		<div class="container">
			<h1 class="text-center mt-5">Users List Template</h1>
			<table class="table">
				<thead>
					<tr>
						<th scope="col" class="align-middle">Code</th>
						<th scope="col" class="align-middle">Photo</th>
						<th scope="col" class="align-middle">Name</th>
						<th scope="col" class="align-middle">Profession</th>
						<th scope="col" class="align-middle">Gender</th>
						<th scope="col" class="align-middle">City</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
					<tr>
						<td class="align-middle text-center">{{ user.code }}</td>
						<td class="align-middle">
							<img
								src="{{ user.photo.url }}"
								alt="{{ user.name }}"
								style="
									width: 40px;
									height: 40px;
									border-radius: 20%;
									object-fit: cover;
								"
							/>
						</td>
						<td class="align-middle">{{ user.name }}</td>
						<td class="align-middle">{{ user.profession }}</td>
						<td class="align-middle">{{ user.gender }}</td>
						<td class="align-middle">{{ user.city }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</body>
</html>
